fag_projekt/data/processed/rotated_test_angles.pt
fag_projekt/data/processed/rotated_test_images.pt
fag_projekt/data/processed/rotated_test_labels.pt
fag_projekt/data/processed/rotated_train_angles.pt
fag_projekt/data/processed/rotated_train_images.pt
fag_projekt/data/processed/rotated_train_labels.pt
